* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
}

a {
    padding-right: 30px;
    text-decoration: none;
    padding: 5px;
    margin-left: 24px;
}

a:hover {
    text-decoration: underline;
}

.b {
    border: 2px solid black;
    padding: 15px;
    margin-left: 20px;
}

.b:hover {
    background-color: rgb(74, 189, 74);
    color: black;z
    border-radius: 40%;
}                   